#!/bin/bash
set -e

{% set cov_html_path = conf.build_dir  + '/coverage' %}



{% if opts.kind in ('all', 'doctest') %}
  {{ "Running doctests" | header }}
  pytest \
    --doctest-modules \
    --doctest-report ndiff \
    {{ ctx.verbose | count_flag('v') }} \
    {{ '\n-p no:sugar' if opts.no_sugar else '' }} \
    src/mappr docs/src
{% endif %}

{% if opts.kind != 'doctest' %}
  {{ "Running tests" | header }}
  pytest \
    --cov=src/mappr \
    --cov-report=term:skip-covered \
    --cov-report=html:{{ cov_html_path }} \
    {{ ctx.verbose | count_flag('v') }} \
    {{ '-p no:sugar' if opts.no_sugar else '' }} \
    tests
{% endif %}


{% if opts.kind != 'doctest' %}
  {% set cov_path = proj_path(cov_html_path, 'index.html') %}
  {{ '\n<32>HTML report: <34>file://{}' | cprint(cov_path) }}
{% endif %}
